%table#games.table-condensed
  %tr
    %th
    %th.ct Name
    %th.ct Rating
    %th.ct Votes
    %th.ct Weight
    %th.ct # Players
    %th.ct Play Time
    %th.ct Overall
    %th.ct Abstract
    %th.ct Children's
    %th.ct Customizable
    %th.ct Family
    %th.ct Party
    %th.ct Strategy
    %th.ct Thematic
    %th.ct War
    %th.ct Date
  - @games.each do |game|
    %tr.game
      %td
        %a{:href => game.url}
          %img{:src => game.image_url, :width => 50}
      %td.lt(style="width:150px")
        %a{:href => game.url}= game.name
      %td.ct= game.rating
      %td.ct ?
      %td.ct ?
      %td.ct ?
      %td.ct ?
      %td.ct= game.ranking
      %td.ct= game.abstract_ranking
      %td.ct= game.childrens_ranking
      %td.ct= game.customizable_ranking
      %td.ct= game.family_ranking
      %td.ct= game.party_ranking
      %td.ct= game.strategy_ranking
      %td.ct= game.thematic_ranking
      %td.ct= game.war_ranking
      %td.ct= game.release_date

