body
  background: #222
  color: #ddd

h1, h2, h3, h4, h5, h6
  font-family: Raleway

table
  margin: 0 auto
  width: 98%
  font-family: Raleway
  border-collapse: separate

  td
    padding: 1px
    border: 1px solid #444

.rt 
  text-align: right

.lt
  text-align: left

.ct
  text-align: center


