!!! 5
%html
  %head

    %title= content_for?(:title) || "GameGeek"

    %meta(charset="utf-8")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %meta(description="Insights to the database of games at BoardGameGeek.com")
    %meta(keywords="board games, games, card games")

    :plain
      <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
      <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,700' rel='stylesheet' type='text/css'>
      <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
      <link href='http://fonts.googleapis.com/css?family=Philosopher|Trocchi|Alegreya+Sans:300,400,700,300italic,700italic|Raleway:400,200,700|Bilbo+Swash+Caps|Love+Ya+Like+A+Sister|IM+Fell+Great+Primer+SC|Loved+by+the+King' rel='stylesheet' type='text/css'>
      <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
      
    = csrf_meta_tag
    = javascript_include_tag :application
    = stylesheet_link_tag :application

  %body
    #game-geek.content
      = yield

